/.idea/workspace.xml
/bin
/modules/core/src/generated
/libs
/wiki
.gradle
.DS_Store
*.bat
*.jpg
*.ogg
*.sh
*.ttf
*.wav
*.zip
touch.txt
/AndroidTest
*.exr
*.xml
*.iml
alsoft.cfg
clang*
modules/core/src/test/java/org/lwjgl/demo/glfw/Test.java
modules/core/src/test/java/org/lwjgl/demo/glfw/HelloWorld.java
modules/core/src/test/java/org/lwjgl/demo/glfw/MatrixTest.java
modules/core/src/test/java/org/lwjgl/demo/util/tinyexr/EXRViewer.java
*sprintf*
TODO.txt
*.kts
*.sublime*
*MESA.dll
