<component name="libraryTable">
  <library name="TestNG">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/bin/libs/java/testng.jar!/" />
      <root url="jar://$PROJECT_DIR$/bin/libs/java/jcommander.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$PROJECT_DIR$/bin/libs/java/testng-sources.jar!/" />
    </SOURCES>
  </library>
</component>